/* import a customized font */
@font-face {
  font-family: lequire;
  src: url(./fonts/Lequire.otf);
}
/* import another cutsomized font */
@font-face {
  font-family: pix;
  src: url(./fonts/ka1.ttf);
}

body {
  background: url(./contactForm/images/background.jpg) no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#logo {
  margin-right: 200px;
}
#nav {
  padding-bottom: 50px;
}
#body {
  margin-top: 50px;
}

nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  border: 1px black solid;
  font-size: 15px;
  background-color: rgba(255, 255, 255, 0.5);
}

nav ul a {
  font-family: pix;
  padding: 10px;
  border: 1px gray solid;
  flex-grow: 1;
  text-decoration: none;
}

.navbar-brand,
.nav-link {
  font-family: lequire;
  font-size: 20px;
  margin-right: 70px;
}
