/* import a customized font */
@font-face {
  font-family: lequire;
  src: url(fonts/Lequire.otf);
}
/* import another cutsomized font */
@font-face {
  font-family: pix;
  src: url(fonts/ka1.ttf);
}

#banner {
  letter-spacing: 10px;
  font-family: lequire;
  font-size: 20px;
}

body {
  background: url(images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#mainArea {
  background-color: rgba(255, 255, 255, 0.5);
  font-family: lequire;
  padding: 10px;
  font-size: 20px;
}

table {
  margin: 0 auto;
  padding: 20px;
  display: table;
  text-indent: initial;
  border-spacing: 2px;
  border-color: red;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
}
table tr td {
  align-items: center;
  padding: 10px;
  border-color: gray;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
}
table tr td img {
  width: 30vw;
}

#mainArea h3,
#map {
  padding: 20px;
  font-size: 25px;
  font-family: pix;
  color: #424c76;
}

.video {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

footer {
  display: flex;
  margin-top: 50px;
  background-color: rgba(255, 255, 255, 0.267);
  justify-content: space-between;
}

.icons {
  display: flex;
  padding: 10px;
}

.socialMedia {
  padding-top: 50px;
  margin-right: 300px;
}

.socialMedia a:link {
  color: #2e3438;
}
.socialMedia a:hover {
  color: orange;
}
.socialMedia a:active {
  color: #2e3438;
}
.socialMedia a:visited {
  color: #dde2e3;
}

#number {
  margin: 10px;
  text-decoration: none;
  font-family: pix;
  font-size: 20px;
}
